<div class="container">
    <div class="col-md-6 row">
        <h1>{{title}}</h1>
    </div>

</div>

<section class="main-image"><img src="https://i.ytimg.com/vi/ilbgklhtWHA/maxresdefault.jpg" alt="Main img"></section>