<section>
    <img src="./images/live-set.jpg">
</section>
<div class="container">

    <div class="column">
        <div class="col-md-6">
            <h1 class="claim">Accede a eventos</h1>
            <h4>En directo online</h4>
        </div>
    </div>


</div>
</div>