<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light navbar-background">

    <a class="navbar-brand" href="/">{{Title}}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/events">Events</a></li>

        <li class="nav-item"><a class="nav-link" href="/signup">Sign up</a></li>

        <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
      </ul>

    </div>
  </nav>


  <main>
    {{{body}}}
  </main>


  {{!-- 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script> --}}


  <script src="/javascripts/script.js"></script>
</body>

<footer class="alternative-links">

  <div class="container">

    <div class="row">


      {{!-- <div class="col-12 col-md-6">
        <a class="navigation-links" href="#">Status</a>
        <a class="navigation-links" href="#">Privacy Terms</a>
        <a class="navigation-links" href="#">Contact Us</a>
      </div> --}}

      <div class="col-12 col-md-3 social ">
        <p>
        <h5>Partners</h5>
        </p>
        <p><a class="navigation-links" href="/partner/signup">Signup</a><a class="navigation-links"
            href="/partner/login">Log in</a></p>
        <p></p>


      </div>
    </div>

  </div>


</footer>




{{!-- <footer>
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-4 col-lg-2">
        <h5>Facebook</h5>
        <p><i class="fab fa-facebook"></i> <a href="#">/XXXXXXXXXXX</a></p>
      </div>
      <div class="col-md-4 col-lg-4">
        <h5 id="contacto">Contacto</h5>
        <p>XXXXXXXXX</p>
        <p>XXXXXXXXXXXXX<br>
          XXXXXXXXXXXXX<br>
          XXXXXXXXXXXXX</p>
      </div>
      <div class="col-md-4 col-lg-6">
        <h5>
          Partners
        </h5>
        <ul>
          <li>
            <a href="/partner/signup">Signup</a>
          </li>
          <li>
            <a href="/partner/login">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> --}}

</html>